.nav_followings {
  margin-top: 50px;
}
.nav_followings h4 {
  color: #fff;
}
.followings_item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 5px;
}

/*___ Friend ____*/

.avatar {
  width: 50px;
  border-radius: 50%;
  margin-bottom: 5px;
}
.following_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 12px;
}
