.app-wrapper {
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    "h h "
    "n c ";
  grid-template-rows: 80px 1fr;
  grid-template-columns: 185px 10fr;
  grid-gap: 10px;
  max-width: 1200px;
  height: 100vh;
}

.nav {
  grid-area: n;
  background: #29487d;
}

.content {
  grid-area: c;
  background-color: #d4d8e8;
}

a {
  text-decoration: none;
  color: inherit;
}
.error {
  color: red;
}
