.dialogs {
  display: grid;

  grid-template-columns: 2fr 10fr;
}
.dialogs_items {
  padding: 10px;
}
.active {
  color: gold;
}
.dialog {
  margin: 0 0 20px 0;
}
.dialog a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.dialog a > * {
  margin-right: 20px;
}

.messages {
  padding: 10px;
}
.message {
  margin: 10px;
}
.avatar {
  width: 50px;
  border-radius: 50%;
}
.newMessage {
  display: flex;
  flex-direction: column;
}
