.header {
  grid-area: h;
  background-color: #001233;
  color: #c4c4c4;
  display: flex;
}
.loginBlock {
  margin-left: auto;
  padding: 10px;
}
.logo {
  border-radius: 50%;
  object-fit: contain;
  width: 40px;
}
