.dialogs {
  display: grid;

  grid-template-columns: 2fr 10fr;
}
.dialogs_items {
  padding: 10px;
}
.active {
  color: gold;
}
.dialog {
  margin: 0 0 20px 0;
}

.messages {
  padding: 10px;
}
.message {
  margin: 10px;
}
